$fontsize = 32px

border-radius()
	-moz-border-radius arguments
	-o-border-radius arguments
	border-radius arguments
body
	background #FFCC00
	color blue
	font-size: $fontsize
	border-radius 5px
h1
	font-size: $fontsize
