/*main.css*/
img{
	border: 5px solid black;
	border-radius: 50%;
	width : 400px;
	height: 400px;
	transition: all 1s ease;
}
img:hover{
	border-radius: 10%;
}
article{
	float: left;
	width: 50%;
}
article h1{ text-align: center;  }